@media screen and (max-width: 767px){
	.xs-hidden{
		display: none
	}
}
.c-padding-30-50{
	padding: 30px 50px;
}
.c-theme-ul > li:focus > a.tel, .c-theme-ul > li:active > a.tel, .c-theme-ul > li:hover > a.tel, .c-theme-nav > li:hover > a.tel
{
	color: #FFF!important;
	cursor:default!important;
}
.c-display-inlineblock{
	display: inline-block;
}
.c-text-left{
	text-align: left;
}
.grayscale{
	-webkit-filter: grayscale(100%);
  	-moz-filter: grayscale(100%);
  	-ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: grayscale(100%);
}
.grayscale:hover{
	-webkit-filter: grayscale(0%)!important;
  	-moz-filter: grayscale(0%)!important;
  	-ms-filter: grayscale(0%)!important;
  	-o-filter: grayscale(100%)!important;
  	filter: grayscale(0%)!important;
}
.c-ulnormal{
	list-style-type: none;
	padding: 0;
}
.c-ulnormal-address li{
	position: relative;
	padding-left: 30px;
}
.c-ulnormal-address i{
	position: absolute;
    top: 5px;
    left: 0;
}
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li.menu-item-btn > .c-link {
	display: inline-block;
	min-height: auto;
    margin: 17px 0 16px 25px;
	padding: 6px 18px 4px 18px;
	font-size: 14px;
	border:1px solid rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	color: #FFF;
	font-weight: 500;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    outline: none !important;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li.menu-item-btn > .c-link:hover{
	color: #2f353b;
	background-color: #fff
}
.c-layout-header .c-navbar .c-mega-menu > .nav.c-dark-nav > li.menu-item-btn > .c-link{
	background: #329fD9;
    border-color: #329fD9;
}
.c-layout-header .c-navbar .c-mega-menu > .nav.c-dark-nav > li.menu-item-btn > .c-link:hover{
	color: #fff;
	background: #0D92D8;
    border-color: #0D92D8;
}

@media screen and (max-width: 991px){
	.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li.menu-item-btn > .c-link{
		margin: 17px 0 16px 20px;
	}

	.menu-item-has-children > a:after{
		content: "\f104";
		position: absolute;
	    top: 10px;
		/*width: 15px;
	    height: 15px;*/
	    font-size: 14px;
	    right: 25px;
	    color: #ebedf2;
		font-family: FontAwesome;
	}
}
