.content-section.section-agent_assist_roi_calculator, .content-section.section-roi_calculator, .content-section.section-chatbot_roi_calculator {
    .tooltip-trigger {
        display: inline-block;
    }

    .tooltip {
        opacity: 1;

        &.bottom {
            .tooltip-arrow {
                border-bottom-color: #00567c !important;
            }

            .tooltip-inner {
                opacity: 1;
                background: #00567c !important;
                font-size: 15px;
            }
        }

        ul {
            list-style: disc;
            padding-left: 20px !important;

            li {
                padding-left: 0 !important;
            }
        }
    }

    label .tooltip {
        z-index: 9999;

        .tooltip-inner {
            max-width: 330px;
        }
    }

    small {
        font-size: 80%;

        &.x-small {
            font-size: 12px;
            margin-top: 15px;
            display: inline-block;
            line-height: 1.4;
        }
    }

    .roi-input-col {
        background: #f4f8fc;

        h2:first-child {
            margin-top: 0;
        }

        hr {
            border-top-color: #606c78;
            margin: 60px 0;
        }

        label { font-size: 20px; }

        .input-small {
            text-align: center;
            padding-left: 18px;
        }

        .slider.slider-horizontal {
            width: 100%;

            .slider-track {
                box-shadow: none;
                background: #a6bbc9;
                height: 14px;
                border-radius: 8px;
            }

            .slider-selection {
                background: $brand-primary;
                box-shadow: none;
            }
        }

        .slider.slider-horizontal {
            margin-bottom: 40px;
            margin-top: 9px;
        }

        .slider-handle {
            position: absolute;
            top: -2px;
            width: 26px;
            height: 26px;
            background: $brand-primary-dark;
            border: solid 6px #00567c;
            box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.35);
        }

        .slider {
            .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow, .tooltip.bottom .tooltip-arrow {
                border-bottom-color: #0091d1 !important;
            }

            .tooltip.bottom {
                margin-left: 3px;

                .tooltip-inner {
                    background-color: #0091d1 !important;
                    font-size: 16px;
                    line-height: 1;
                    padding: 6px 15px;
                }
            }

            &#active_agents_slider {
                .slider-tick {
                    display: none;
                }
            }

            &#percent_of_day_spent_chatting_slider .tooltip.bottom .tooltip-inner,
            &#chat_volume_growth_slider .tooltip.bottom .tooltip-inner {
                &::after { content: '%'; }
            }

            &#agent_compensation_slider .tooltip.bottom .tooltip-inner {
                &::before { content: '$'; }
                &::after { content: '/year'; }
            }

            &#call_length_slider  .tooltip.bottom .tooltip-inner {
                &::after { content:  ' min'; }
            }

            &#call_cost_slider  {
                .slider-tick { display: none; }
                .tooltip.bottom .tooltip-inner {
                    &::before { content: '$'; }
                    &::after { content:  '/call'; }
                }
            }

            &#chat_length_slider  .tooltip.bottom .tooltip-inner {
                &::after { content:  ' min'; }
            }

            &#concurrent_chats_slider  .tooltip.bottom .tooltip-inner {
                &::after { content:  ' chats'; }
            }
        }

        .radio-inline {
            margin-right: 20px;

            input[type=radio] {
                margin-right: 4px;
                -webkit-appearance: none;
                position: relative;
                cursor: pointer;
                top: 2px;
                width: 18px;
                height: 18px;
                border: 1px solid #606c78;
                border-radius: 50%;
                outline: none;

                &::before {
                    content:'';
                    display:block;
                    width:100%;
                    height:100%;
                    /*margin: 20% auto;    */
                    border-radius:50%;
                }

                &:checked::before {
                    background:#00567c;
                    border: solid 2px #FFF;
                }
            }
            &:last-child { margin-right: 0; }
        }
    }

    .roi-results-col {
        background: #00567c;
        position: relative;
        z-index: 1;

        &.bg-gray-dark {
            background: #48515A;
        }

        .bg-gray-medium {
            position: relative;
            padding-bottom: 40px;
            margin-bottom: 40px;

            &:before {
                content: '';
                display: block;
                left: -15px;
                top: -40px;
                background: #606C78;
                width: calc(100% + 30px);
                height: calc(100% + 40px);
                position: absolute;
                z-index: -1;
            }

            @media (min-width: $screen-md-min) {
                padding-bottom: 60px;
                margin-bottom: 60px;

                &:before {
                    left: -51px;
                    top: -60px;
                    height: calc(100% + 60px);
                    width: 50vw;
                }
            }
        }

        &.bg-blue-medium {
            background: #dbe6ed;
        }

        .tooltip-trigger {
            svg {
                border-radius: 50%;
            }
        }

        &.bg-blue-dark .tooltip-trigger svg,
        &.bg-gray-dark .tooltip-trigger svg { border: solid 1px #fff; }

        h5 { font-family: $font-family-bold; font-weight: 400; }

        hr {
            border-top-color: #606c78;
            margin: 30px 0;
        }

        h2, h3, h4 { margin-top: 0; }

        p {
            margin-bottom: 30px;
        }

        .font-weight-heavy {
            font-family: $font-family-bold; font-weight: 400; font-size: 6vw;
        }

        .bar-chart-totals {
            max-width: 380px;
            margin: 0 auto;

            h4 {
                color: #00567c;
                font-size: 30px;
                margin-top: 10px;
            }
        }

        &.bg-blue-medium {
            .font-weight-heavy {
                color: #00567c;
            }
        }

        &.bg-gray-dark,
        &.bg-blue-dark {
            &, h2, h3, h4, h5 { color: #fff; }

            @media (min-width: 992px) {
                hr:nth-child(3) {
                    margin-top: 88px;
                }
            }

            .tooltip.bottom {
                .tooltip-arrow {
                    border-bottom-color: #fff !important;
                }

                .tooltip-inner {
                    background: #fff !important;
                    color: #00567c;
                }
            }

            p {
                margin-bottom: 60px;
            }

            hr {
                border-top-color: #f4f8fc;
                margin: 60px 0;
            }

            .bar-chart-totals {
                h4 {
                    color: #9fdd09;
                }
            }
        }

        &.bg-gray-dark {
            .tooltip-trigger svg {
                border: 0;
            }
        }

        .roi-results {
            position: relative;
            flex-wrap: nowrap;
            flex-direction: row;
            display: flex;
            justify-content: space-between;

            @media (max-width: 991px) {
                align-items: flex-end;
            }

            > .roi-result {
                display: flex;
                align-items: flex-end;
                justify-content: center;

                @media (max-width: 991px) {
                    flex-basis: 50%;
                }
            }

            > .roi-result-comparison {
                align-items: center;

                @media (max-width: 991px) {
                    position: absolute;
                    left: 46%;
                    top: 30%;
                }

                @media (max-width: 992px) {
                    padding-bottom: 30%;
                }
            }

            .roi-bar-chart {
                text-align: center;
                // margin-bottom: 40px;

                .value-wrap {
                    font-family: $font-family-bold; font-weight: 400; font-size: 2vw; line-height: 1; margin-bottom: 10px;

                    small { font-family: $font-family-light; font-size: 65%; }
                }

                .bar {
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 18px;
                    margin: 3px auto 15px;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;

                    @media (min-width: 370px) {
                        max-width: 68px;
                    }

                    @media (min-width: 460px) {
                        width: 80%;
                    }
                }

                .bar-segment {
                    position: relative;
                    min-height: 3px;
                    width: 100%;
                    transition: height 0.3s ease-out;

                    .segment_total {
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -7px;
                        font-size: 13px;
                        line-height: 1;
                        padding-left: 7px;
                    }

                    &#deflected_system_cost_chat_bar {
                        .segment_total {
                            top: auto;
                            bottom: 0;
                        }
                    }

                    &#deflected_system_cost_chat_bar {
                        .segment_total {
                            margin-top: -2px;
                        }
                    }

                    &#chatbot_livechat_system_cost_bar {
                        .segment_total {
                            bottom: -5px;
                            top: auto;
                        }
                    }

                    &#chatbot_cost_bar {
                        .segment_total {
                            bottom: 40%;
                            top: auto;
                        }
                    }
                }


                .label { font-family: $font-family-regular; font-size: 1.38vw; }
                small { font-size: 4vw; }

                @media (min-width: 480px) {
                    small { font-size: 20px; }
                    .font-weight-heavy { font-size: 30px; }
                }

                @media (min-width: 1440px) {
                    small { display: block; line-height: 1; margin-top: 8px; }
                    .value-wrap { font-size: 30px; }
                    .label { font-size: 20px; }
                }
            }

            #live_chat_cost_bar.roi-bar-chart .bar-segment .segment_total,
            #calls_year_bar.roi-bar-chart .bar-segment .segment_total {
                left: auto; right: 100%; padding-right: 7px; padding-left: 0;
            }

            .roi-result-comparison {
                font-size: 4.6vw; align-items: center;

                @media (min-width: 480px) {
                    font-size: 20px;
                }

                @media (min-width: 992px) {
                    font-size: 30px;
                }
            }

            .roi-difference {
                color: #9fdd09;

                .circle {
                    border: solid 1px #f4f8fc;
                    border-radius: 50%;
                    padding: 15px;
                    height: 157px;
                    width: 157px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .label {
                    font-family: $font-family-light;
                    font-size: 18px;
                }

                .value-wrap {
                    font-family: $font-family-bold;
                    font-size: 3vw;
                    line-height: 1;

                    @media (min-width: 1440px) {
                        font-size: 52px;
                    }
                }
            }

            .roi-icon-result {
                font-size: 2.6vw;

                .value-wrap {
                    font-family: $font-family-bold;
                    font-size: 6vw;
                }

                @media (min-width: 992px) {
                    font-size: 1.38vw;

                    .value-wrap {
                        font-size: 30px;
                    }
                }

                @media (min-width: 1440px) {
                    font-size: 20px;

                    .value-wrap {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .estimate-costs-legend {
        display: flex;
        font-size: 3vw;
        margin-top: 20px;
        margin-bottom: 50px;

        .item {
            padding-left: 24px;
            padding-right: 10px;
            position: relative;

            .legend-colour {
                height: 16px;
                width: 16px;
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -8px;
            }
        }

        @media (max-width: 991px) {
            flex-wrap: wrap;

            .item { flex-basis: 50%; margin-bottom: 10px; }
        }

        @media (min-width: 480px) {
            font-size: 12px;
        }
    }

    .capacity-results {
        margin-top: 25px;
        margin-bottom: 30px;
        line-height: 1.3;

        .item {
            font-size: 3.1vw;

            img {
                margin-bottom: 10px;
            }

            .value  {
                font-size: 4.5vw;
            }

            @media (min-width: 992px) {
                font-size: 1.38vw;

                .value { font-size: 1.8vw; }
            }

            @media (min-width: 1440px) {
                font-size: 20px;

                .value { font-size: 26px; }
            }
        }

        .comparison {
            font-size: 4.6vw; align-items: center;

            @media (min-width: 480px) {
                font-size: 20px;
            }

            @media (min-width: 992px) {
                font-size: 30px;
            }
        }
    }

    .bg-blue-dark .capacity-results {
        margin-bottom: 70px;
    }

    .bg-blue-medium {
        .capacity-results {
            .item {
                flex: 1;

                @media (min-width: 992px) {
                    font-size: 1.2vw;
                }

                &.comparison {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0;
                }

                span.font-weight-heavy {
                    @media (min-width: 992px) {
                        font-size: 30px;
                    }

                    @media (min-width: 1440px) {
                        font-size: 30px;
                    }
                }
            }
        }

        .roi-result-comparison.font-weight-heavy, .comparison .font-weight-heavy {
            color: #606c78;
        }

        .roi-result-comparison {
            padding-bottom: 16%;
        }
    }

    .col-inner {
        padding: 40px 0;
    }

    @media (min-width: $screen-md-min) {
        .blue-light-dark-gradient {
            background: linear-gradient(270deg, #00567c 0%, #00567c 50%, #f4f8fc 50%);

            .roi-icon-result {
                &:first-child {
                    border-right: solid 1px #fff;
                }
            }
        }

        .blue-light-medium-gradient {
            background: linear-gradient(270deg, #dce6ed 0%, #dce6ed 50%, #f4f7fc 50%);

            .roi-icon-result {
                &:first-child {
                    border-right: solid 1px #606c78;
                }
            }
        }

        .blue-light-dark-gray-gradient {
            background: linear-gradient(270deg, #48515a 0%, #48515a 50%, #f4f8fc 50%);

            .roi-icon-result {
                &:first-child {
                    border-right: solid 1px #fff;
                }
            }
        }

        .col-inner {
            padding: 60px 36px;
        }

        .roi-results-col {
            .col-inner {
                padding-right: 0;
            }
        }

        .roi-input-col {
            .col-inner {
                padding-left: 0;
            }
        }

        .section-footer {
            .form-col {
                padding-left: 100px;
            }
        }
    }
}

.content-section.section-chatbot_roi_calculator {
    .form-group {
        margin-bottom: 25px;
    }
}

.content-section.section-agent_assist_roi_calculator {
    .form-group {
        margin-bottom: 35px;
    }
}